# Import libraries yang diperlukan

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Load Data dan menambahkan daftar pelanggan serta menampilkan dataset

In [ ]:
dataset = pd.read_csv('Market_Basket_Optimisation.csv', header = None)

transactions = []
for i in range(0, 7501):
    transactions.append([str(dataset.values[i,j]) for j in range(0, 20)])

dataset.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Mendapatkan daftar produk yang dibeli minggu ini oleh semua pelanggan

In [ ]:
# Menempatkan semua transaksi dalam suatu list
itens = []
for i in range(0, len(transactions)):
    itens.extend(transactions[i])

# Menemukan item unik dari transaksi dan menghapus data nan
uniqueItems = list(set(itens))
uniqueItems.remove('nan')

# Membuat kombinasi item secara berpasangan

In [ ]:
pair = []
for j in range(0, len(uniqueItems)):
    k = 1;
    while k <= len(uniqueItems):
        try:
            pair.append([uniqueItems[j], uniqueItems[j+k]])
        except IndexError:
            pass
        k = k + 1;

# Menghitung skor

In [ ]:
score = []
for i in pair:
    cond = []
    for item in i:
        cond.append('("%s") in s' %item)
    mycode = ('[s for s in transactions if ' + ' and '.join(cond) + ']')
    score.append(len(eval(mycode))/7501.)

# Menampilkan Hasil dari penghitungan skor

In [ ]:
ranking_ECLAT = pd.DataFrame([pair, score]).T
ranking_ECLAT.columns = ['Pair', 'Score']

In [ ]:
ranking_ECLAT.sort_values('Score', ascending=False).head(10)

                                    Pair     Score
6346          [mineral water, spaghetti]  0.059725
1428          [chocolate, mineral water]   0.05266
6339               [mineral water, eggs]  0.050927
6357               [mineral water, milk]  0.047994
6344        [mineral water, ground beef]  0.040928
7021            [ground beef, spaghetti]  0.039195
1455              [chocolate, spaghetti]  0.039195
6936                   [eggs, spaghetti]  0.036528
1124                [french fries, eggs]  0.036395
5019  [frozen vegetables, mineral water]  0.035729

# Mencoba dengan trio dan menampilkan hasilnya

In [ ]:
trio = []
for j in range(0, len(uniqueItems)):
    for k in range(j, len(uniqueItems)):
        for l in range(k, len(uniqueItems)):
            if (k != j) and (j != l) and (k != l):
                try:
                    trio.append([uniqueItems[j], uniqueItems[j+k], uniqueItems[j+l]])
                except IndexError:
                    pass

In [ ]:
trio[:5]

[['salmon', 'olive oil', 'zucchini'],
 ['salmon', 'olive oil', 'cauliflower'],
 ['salmon', 'olive oil', 'energy drink'],
 ['salmon', 'olive oil', 'candy bars'],
 ['salmon', 'olive oil', 'salad']]

In [ ]:
score_trio = []
for i in trio:
    cond = []
    for item in i:
        cond.append('("%s") in s' %item)
    mycode = ('[s for s in transactions if ' + ' and '.join(cond) + ']')
    score_trio.append(len(eval(mycode))/7501.)
ranking_ECLAT_trio = pd.DataFrame([trio, score_trio]).T
ranking_ECLAT_trio.columns = ['Trio', 'Score']
ranking_ECLAT_trio.sort_values('Score', ascending=False).head(10)

                                                 Trio     Score
73293           [chocolate, mineral water, spaghetti]  0.015865
73304                [chocolate, mineral water, milk]  0.013998
73286                [chocolate, mineral water, eggs]  0.013465
130021           [pancakes, mineral water, spaghetti]  0.011465
74006                    [chocolate, spaghetti, milk]  0.010932
73291         [chocolate, mineral water, ground beef]  0.010932
73883                    [chocolate, eggs, spaghetti]  0.010532
13013           [olive oil, mineral water, spaghetti]  0.010265
59321        [french fries, mineral water, spaghetti]  0.010132
71966   [chocolate, frozen vegetables, mineral water]  0.009732